<!DOCTYPE html>
<html>
    <head>
        <title>
            Settings
        </title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        </link>
    </head>
    <body>
        <%= erb :'header.html' %>
        <div class="container">
            <div class="well text-center" id="twall">
                <% if @done %>
                <h1>Сохранено!</h1>
                <% end %>
                <form accept-charset="UTF-8" action="/settings" method="post">
                    <%= @pars.join "<br>" %>
                    <br>
                                <input class="btn" data-disable-with="Сохранить" name="commit" type="submit" value="Сохранить"/>
                        </input>
                    </br>
                </form>
                
            </div>
            <br>
        </div>
        <script src="/vendor/jquery.min.js">
        </script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js">
        </script>
    </body>
</html>
