<!DOCTYPE html>
<html>
    <head>
        <title>
            Settings
        </title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <%= erb :'header.html' %>
        <div class="container">
            <% if @done %>
                <div class="alert alert-success">
                    Сохранено!
                </div>
            <% end %>
            <div class="well text-center" id="twall">
                <form accept-charset="UTF-8" action="/settings" method="post" class="form-inline">
                    <%= @pars.join "<br>" %>
                    <br><br>
                        <input class="btn btn-default" data-disable-with="Сохранить" name="commit" type="submit" value="Сохранить"/>
                    <br>
                </form>
                
            </div>
            <br>
        </div>
        <script src="/vendor/jquery.min.js">
        </script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js">
        </script>
    </body>
</html>
