<form action="/check" accept-charset="UTF-8" method="post">
<font size="20"><%= @task['question'] %></font>
<br>
<input size="10" type="number" class="form-control" id="user_answer" name="user_answer"> 
<input type="submit" name="commit" value="Ответить" class="btn" data-disable-with="Ответить" />
</form>