<form accept-charset="UTF-8" action="/check" method="post">
    <font size="20">
        <%= @task['question'] %>
    </font>
    <br>
        <input class="form-control" id="user_answer" max="100000" min="-100000" name="user_answer" size="10" type="number" required="required" >
            <br><input class="btn" data-disable-with="Ответить" name="commit" type="submit" value="Ответить"/>
        </input><br
    </br>
</form>